@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --venatus-red:  356 74% 45%;
}

.no-scroll {
  overflow: hidden;
}

.light {
  --background: 245, 245, 245;

  --border: 212, 212, 212;

  --card: 255, 255, 255;

  --copy-primary: 23, 23, 23;
  --copy-secondary: 115, 115, 115;

  --cta: 139, 92, 246;
  --cta-active: 124, 58, 237;
  --cta-text: 255, 255, 255;

  background: rgba(var(--background));
}

.dark {
  --background: 0, 0, 0;

  --border: 38, 38, 38;

  --card: 23, 23, 23;

  --copy-primary: 250, 250, 250;
  --copy-secondary: 115, 115, 115;

  --cta: 90, 102, 241;
  --cta-active: 124, 58, 237;
  --cta-text: 255, 255, 255;

  background: rgba(var(--background));
}
